[submodule "vendor/ogg"]
	path = vendor/ogg
	url = https://github.com/xiph/ogg.git
	branch = master
[submodule "vendor/librw"]
	path = vendor/librw
	url = https://github.com/aap/librw.git
	branch = master
